.dashboard {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

.dashboardTicket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Ticket {
  font-size: 150px;
  margin: 0;
  padding-right: 3rem;
}

.dashboardPedidos {
  list-style: none; 
  padding: 0;
  margin: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: left;
}


.dashboardPedidosItem {
  font-size: 80px;
}

.dashboardPedidosItem {
  font-size: 80px; 
  text-align: left; 
  color: white; 
}

.dashboardImg {
  padding: 5rem;
  width: 20rem;
  height: 8rem;
}