.ticketContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.ticket-button {
  font-family: "Gill Sans", sans-serif;
  color: #fff;
  cursor: pointer;
  border: 2rem solid #c42e1a00;
  background-color: #21c401;
  border-width: 2rem 1rem;
  border-radius: 1rem;
  font-size: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  width: 900px; 
  text-align: center; 
}

.ticket-button-disabled {
  background-color: #292929;
  cursor: not-allowed;
  opacity: 0.3;
  border-radius: 1rem;
  font-size: 50px;
  padding: 10px 20px;
  border-width: 2rem 1rem;
  width: 900px; 
  text-align: center; 
}
